petshop.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="petShopServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="petName"/>
              <xs:element type="xs:string" name="animalType"/>
              <xs:element type="xs:string" name="ownerName"/>
              <xs:element type="xs:int" name="ownerPhone"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

<!-- Generated my XSD in the website https://www.freeformatter.com/xsd-generator.html using my XML file. -->